@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

#main {
  background: url("https://marketplace.canva.com/EAGEncMdbEM/1/0/1600w/canva-beige-brown-simple-abstract-desktop-wallpaper-pE_Ruap0PiI.jpg");
  background-size: 100% 100%;
  background-position: center;
  font-family: Poppins, sans-serif;
  text-align: center;
  color: white;
}
body, hmtl {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

header {
  padding: 40px 0 10px 0;
  color: #4b2a15;
  font-family: Fredoka;
}

title {
  margin-bottom: 0.5rem;
  line-height: 1.2;
}

#description {
  margin: 0 5px;
  font-size: 1.123rem;
  text-shadow: 1px 1px 1px rgb(0 0 0 / 10%);
}

main {
  max-width: 700px;
  margin: 10px auto;
  background-color: rgba(64, 29, 1, 0.9);
  padding: 40px;
  box-sizing: border-box;
  border-radius: 10px
}

/* form elements */

form {
  text-align: left;
}

label {
  display: block;
  margin-bottom: 10px;
}

input, select, textarea {
  display: block;
  margin-bottom: 25px;
  margin-top: 5px;
  padding: 10px;
  border: none;
  box-sizing: border-box;
}

fieldset {
  border: none;
  padding: 0;
  margin-bottom: 25px;
}

fieldset input {
  display: inline;
  margin-bottom: 0;
}

fieldset legend {
  margin-bottom: 10px;
}

form, ::placeholder, select {
  font-size: 1.1rem;
}

input, select {
  border-radius: 5px;
}

textarea {
  min-height: 200px;
  width: 100%;
  resize: vertical;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.full-width {
  width: 100%;
}

input[type="radio"], input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

button {
  width: 100%;
  padding: 15px;
  font-size: inherit;
  background-color: #d1baab;
  color: black;
  border: none;
  font-weight: 500;
}

footer {
  text-align: center;
  color: black;
}